---
/* TODO:
- [ ] Mobile Landscape: /projekte wierd height behaviour vgl. Handy nicht chromium!!!
- [ ] Controls: on widht < 280 verschwinden controls #bug


NICE-TO-HAVE:
- [ ] Fallback when JS is disabled!
- [ ] custom Layouts & export to DIN A3 etc...

*/
import Layout from '../../layouts/Layout.astro';
import { CollectionEntry, getCollection } from 'astro:content'; 
import { Image, Picture } from '@astrojs/image/components';
// import BasicScripts from '../../components/basicScripts.astro';
import TextBlockModal from '../../components/TextBlockModal';
import Slideshow from '../../components/Slideshow';
import SlideshowCounter from '../../components/SlideshowCounter';
import SlideshowAlt from '../../components/SlideshowAlt';
import ModalBtn from '../../components/ModalBtn';
import PlanBtn from '../../components/PlanBtn';
import SlideshowBtn from '../../components/SlideshowBtn';
import PlaybackBtn from '../../components/PlaybackBtn';


export async function getStaticPaths() {
const allProjects = await getCollection('projects');
return allProjects.map((proj) => ({
params: { project: proj.slug , cat: proj.data.category },
props: proj,
}));
}

type Props = CollectionEntry<'projects'>;
const proj = Astro.props;
// console.log(proj);
const p = proj.data;

// Pictures Aspect Ratio
const width = 3;
const height = 2;

const slideshow_pictures = [p.titleimg.img].concat(p.fotos.map((img) => img.foto));
const slideshow_pictures_alts = [p.titleimg.alt].concat(p.fotos.map((img) => img.alt));

const slideshow_plans = p.plans.map((plan) => plan.plan);
const slideshow_plans_alts = p.plans.map((plan) => plan.alt);

// let slideshow_images = slideshow_plans // or slideshow_plans
// let slideshow_alts = slideshow_plans_alts // or slideshow_plans_alts


// console.log(slideshow_images);
// console.log(slideshow_alts);

---

<!-- <BasicScripts /> -->

<Layout title={`AE30 - ${p.title} - work in progress`} description= {`${p.category}/${p.title}`}image="">

<section class="project_presentation" aria-label={`Projekt ${p.title} Presentation`}>
  <article class="project">


    <Slideshow
    client:load
    pictures={slideshow_pictures}
    pictureTitles={slideshow_pictures_alts}
    plans={slideshow_plans}
    planTitles={slideshow_plans_alts}
    autoPlayInterval={4} 
    />
    <!-- <ModalBtn BtnName="Text ein-/ausblenden" client:load/> -->

    <TextBlockModal client:load>

    <h2>{p.title}</h2>
    <dl class="textmodal_ul">
      <dt>Jahr:</dt><dd>2018 - 2022</dd>
      <dt>NFL:</dt><dd>3090m²</dd>
      <dt>Typ:</dt><dd>Neubau, Erweiterung</dd>
      <dt>Tags:</dt><dd>{p.subcategory}</dd>
    </dl>
    <details open>
      <summary>Kennwerte</summary>
      <p>
      id: {proj.id} <br/>
      slug: {proj.slug} <br/>
      collection: {proj.collection} <br/>

      </p>
    </details>
    <p>{p.short}</p>
    <p><a href="#">mehr...</a></p>

    <p> {proj.body} </p>

    </TextBlockModal>


  </article>



  <!-- <span class="cat">{p.category} - </span> -->


  <section class="controls" aria-label="Plankopf Footer Controls">



    <div class="footer_line alt_line">
      <SlideshowAlt client:load />
    </div>

    <div class="footer_line title_line">
      <h3 class="footer_title">{p.title}</h3>
    </div>

    <div class="footer_line control_line">
      <SlideshowBtn dir="prev" client:load>Vorheriges Bild</SlideshowBtn>
      <ModalBtn client:load>Text ein-/ausblenden</ModalBtn>
      <PlaybackBtn client:load>Slideshow pausieren</PlaybackBtn>
      <PlanBtn client:load>Pläne ein-/ausblenden</PlanBtn>
      <SlideshowBtn dir="next" client:load>Nächstes Bild</SlideshowBtn>
    </div>

    <div class="counter_line footer_line ">
      <SlideshowCounter client:load/>
    </div>



  </section>

</section>
</Layout>

<!--+++++++++++++++++++++++++++ -->

<style is:global>
  .wrapper{
    margin: 0 !important;
    /* background: lightblue !important; */
  }
  .slideshow_div{}
</style>

<style>

  .project_presentation{
    /* background: green; */
    min-height: 100vh;

    display: flex;
    align-items: center; /* center vertically flexbox */
    justify-content: center; /* center horizontally flex */

  }
  article.project{ 
    overflow: hidden;
    background: lightblue; 
  }

  article .pictures{}
  article .plans{}
  article .texts{}
  /* FOOTER CONTROLS  ----------------------------*/

  .controls{
    /*  document.querySelector(".controls"); in Slideshow controls color */
    z-index: 3;
    font-family: var(--fsans2);
    position: fixed;
    bottom: 1em;

    display: flex;
    flex-direction: column;

    color: var(--cwhite);
    text-align: center;
    align-items: center;

    justify-content: center; 
    /* background: grey; */
  }

  .footer_line{
    line-height: 2em;
    height: 2em;
    backdrop-filter: blur(1px);
    /* border-radius: 50%; */
    /* background: lavender; */
    font-family: var(--fsans2) ;
  }

  .control_line{
    display: flex;
    justify-content: space-evenly;
    align-self: center;

    margin: .5em 0 .5em 0;
    line-height: 3em ;
    height: 3em !important;

    /* background: green; */

  }
  .title_line{
    width: auto;
    border-radius: 1em;
    padding: 0 1em 0 1em;
    /* background: red; */
  }
  h3.footer_title{
    font-size: 1.25rem;
    text-transform: uppercase;
    /* font-weight: 100; */
    margin: 0 !important;
  }
  .alt_line{
    font-size: 1rem;
    border-radius: 1em;
    padding: 0 1em 0 1em;
    /* background: orange; */
  }
  .counter_line{
    font-family: var(--fsans3) !important;
    font-size: 1.25rem;
    /* font-weight: bold; */
    /* color: red; */
    /* background: blue; */
  }

@media only screen and (min-width: 48em/* var(--vwT) */) {

  .title_line{
    position: absolute;
    left: 2em;
    z-index: 10;
  }
  .alt_line{
    position:absolute;
    right: 2em;
    z-index: 10;
  }
  .controls{
    width: 100vw;
    display: flex;
    flex-direction: row;
    /* margin: 0; */
    align-items:center ; 
    justify-content: center; 
    /* background: green; */
  }
  .control_line{
    margin: ;
    padding-bottom: 6.5em;
    position: absolute;
    botton: 4em;
  }


}
/* Modal Styles ----------------- */

/* Modal Text styles------------------- */

h2{
  /* font-size: 1.2em; */
  /* line-height: 1em; */
  text-transform: uppercase;
  /* margin: 0; */
  font-family: var(--fsans2);
}

dl{
  font-size: .8em;
  font-family: var(--fsans2);
  /* line-height: calc(var(--fline_height) / 2); */
  line-height: 1.2rem;
}
dt{
  float: left;
  padding-right: 2em;

  display: none;
  text-indent: -9999px;
}
dd{
  margin: 0;
}



</style>
