---
import Layout from '../layouts/Layout.astro';
import { CollectionEntry, getCollection } from 'astro:content';
import '../styles/page.css';

export async function getStaticPaths(){
  const allPages = await getCollection('pages');
  // console.log('allPages', allPages);

    return allPages.map((page) => ({
    params: { pages: page.slug },
    props: page,
    }))

  } 

type Props = CollectionEntry<'pages'>;
const page = Astro.props;

  console.log("page", page)

const { Content } = await page.render();
// console.log("page Content", Content)
---
<Layout title={`AE30 - ${page.data.title}`} description="Kategorie" image="">
<section id="page" class="content" aria-label="Page Content">

  <h1 class="page_headline" set:html={page.data.title} />

    <div class="title_wrapper">
        <img src={page.data.titleimg} alt={page.data.title} />
    <ul class="submenu">{page.data.menu}</ul>
    </div>

    <Content />


</section>
</Layout>
<style>

</style>
