---
import Layout from '../layouts/Layout.astro';
import { CollectionEntry, getCollection } from 'astro:content';
import '../styles/page.css';

export async function getStaticPaths(){
  const allPages = await getCollection('pages');
  // console.log('allPages', allPages);

    return allPages.map((page) => ({
    params: { pages: page.slug },
    props: page,
    }))

  } 

type Props = CollectionEntry<'pages'>;
const page = Astro.props;

  console.log("page from Astro.props:", page)

  const { Content, headings, remarkPluginFrontmatter  } = await page.render();

  console.log("page Content", Content)
  console.log("page Content", headings, remarkPluginFrontmatter)

const filteredHeadings = headings.filter(heading => heading.depth === 1 );

// console.log("page Content", Content)

// const toc = generateToc();
---
<Layout title={`AE30 - ${page.data.title}`} description="Kategorie" image="">
<section class="page_sect" aria-label={page.data.tile}>
  <section class="block">

    <div class="title_wrapper">
      <h1 class="page_headline" set:html={page.data.title} />
        <img src={page.data.titleimg} alt={page.data.title} />
    </div>
    <nav class="toc">
      <ol>
        {filteredHeadings.map(heading => (
        <li key={heading.slug}>
          <a href={`#${heading.slug}`}>{heading.text}</a>
        </li>
        ))}
      </ol>
    </nav>


  </section>
  <section class="content">
    <Content />
  </section>

    <div class="next_control">
      <button onclick="location.href='#top'" class="btn modal_toggle_btn" title="Top" >
        <svg class="btn_svg top">
          <use class="btn_use" href="/svg.svg#arrow" />
        </svg>
      </button>
    </div>

</section>
</Layout>


<style>
  .content{
    margin: 0 2em 0 2em;
  }

  h1, h2, h3, h4, h5, h6{
    font-family: var(--fsans2);
    text-transform: uppercase;
  }

  .title_wrapper > img {
    /* border: 2px solid red; */

    max-width: var(--maxwidth);
    width: 100% !important; 
  }
  .next_control{
    /* align-self: center; */
    margin: 0 auto;
  }

</style>
