---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import "../styles/page.css";

import { Image } from "astro:assets";

export async function getStaticPaths() {
  const allPages = await getCollection("pages");

  return allPages.map(page => ({
    params: { pages: page.slug },
    props: page,
  }));
}

type Props = CollectionEntry<"pages">;
const page = Astro.props;

const c = page.data;

// console.log("page from Astro.props:", page)

const { Content, headings, remarkPluginFrontmatter } = await page.render();

// console.log("page Content", Content)
// console.log("page Content", headings, remarkPluginFrontmatter)

const filteredHeadings = headings.filter(heading => heading.depth === 1);

// console.log("page Content", Content)

// const toc = generateToc();
---

<Layout title={`AE30 - ${page.data.title}`} description="Kategorie" image="">
  <section class="page_sect" aria-label={c.title}>
    <section class="block">
      <div class="title_wrapper">
        <h1
          class={c.cover ? "page_headline_white" : "page_headline"}
          set:html={c.title}
        />
        {c.cover && <Image src={c.cover} alt={c.title} width={1080} />}
        <!-- <img src={page.data.titleimg} alt={page.data.title} /> -->
      </div>
      <nav class="toc">
        <ol>
          {
            filteredHeadings.map(heading => (
              <li>
                <a href={`#${heading.slug}`}>{heading.text}</a>
              </li>
            ))
          }
        </ol>
      </nav>
    </section>
    <section class="block">
      <div class="cont text">
        <Content />
      </div>

      <div class="next_control">
        <button
          onclick="location.href='#top'"
          class="btn modal_toggle_btn"
          title="Top"
        >
          <svg class="btn_svg top">
            <use class="btn_use" href="/svg.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </section>

    <Footer />
  </section>
</Layout>
