---
/*
TODO:
- [ ] allProjects filter with archived?
- [ ] how to sort frontpage?
- [ ] select from react-select for multiple tag input
- [ ] toggle filter menu on/off with an F button
- [ ] rename gridcontrols to gridfilters
- [ ] gridcontrols = toggle.filter.btn, top, bottom scroll btn?
*/

import Layout from '../layouts/Layout.astro';
import GridProj from '../components/GridProj';
import GridControls from '../components/GridControls';
import GridControlWrapper from '../components/GridControlWrapper';
import { getCollection } from 'astro:content';

import { CURRENTYEAR } from '../consts';

const allProjects = await getCollection('projects');
// console.log("OlleProjekte:", allProjects);

const settings = await getCollection('settings');

const settingsFilter = settings[0].data.filter;

const settingFilterCat = settingsFilter.cat;
const settingFilterTag = settingsFilter.tag;
const settingFilterYear = settingsFilter.year;
const settingFilterSize = settingsFilter.size;

const noFiltersActiveInCmsSettings = (!settingFilterCat && !settingFilterTag && !settingFilterYear && !settingFilterSize);
// console.log("noFiltersActiveInCmsSettings" , noFiltersActiveInCmsSettings)
---
<Layout title="AE30 - Gallerie - work in progress" description="gallery" image="">

<section id="grid-gallery" aria-label="Gallery Grid Overview">
  <!-- <Testgallery/> -->
    <!--  /${proj.slug}`}  -->


    <GridProj
    client:only
    projects={allProjects}
    />

    {noFiltersActiveInCmsSettings ? '' :
    <GridControlWrapper
    client:load
    btnname="Filter Menü ein-/ausblenden"
    />
    }

    <!--
    {noFiltersActiveInCmsSettings ? '' :
      <GridControls
      client:load
      defaultCat="all"
      defaultTag="all"
      defaultYear1={1990}
      defaultYear2={CURRENTYEAR}
      defaultSize1={0}
      defaultSize2={7000}
      />
      } 
      -->



    <!--
    {allProjects.map((proj) => 
    <GridProj 
    title={proj.data.title} 
    link={`../${proj.data.category}/${proj.slug}`}
    titleimg={proj.data.titleimg.img} 
    titlealt={proj.data.titleimg.alt} 
    cat={proj.data.category} 
    /> )}
    -->

</section>
</Layout>

<style is:global>
  main{
    overflow-y: scroll !important;
  }

</style>
<style>
  #grid-gallery{
    display: grid;
    grid-template-columns: repeat(var(--gcolnum), 1fr);
    grid-auto-rows: min-content;
    grid-auto-flow: dense;

    align-items: flex-start;
    gap: calc( 0.5 * var(--ggapspx));
    margin-bottom: 10em;
  }
  @media only screen and (min-width: 64em /* var(--vwS) */) { 
    #grid-gallery{
      gap: var(--ggapspx);
    }
  }
  /* #grid-gallery img{
    max-width: 80vw;
  } */
</style>

