---
/*
TODO:
- [ ] allProjects filter with archived?
- [ ] how to sort frontpage?
*/

import Layout from '../layouts/Layout.astro';
import GridProj from '../components/GridProj';
import GridControls from '../components/GridControls';
import { getCollection } from 'astro:content';

import { CURRENTYEAR } from '../consts';

const allProjects = await getCollection('projects');
// console.log("OlleProjekte:", allProjects);
---
<Layout title="AE30 - Gallerie - work in progress" description="gallery" image="">

<section id="grid-gallery" aria-label="Gallery Grid Overview">
  <!-- <Testgallery/> -->
    <!--  /${proj.slug}`}  -->


    <GridProj
    client:only
    projects={allProjects}
    />


      <GridControls
      client:load
      defaultCat="all"
      defaultTag="irgendwas"
      defaultYear1={1980}
      defaultYear2={CURRENTYEAR}
      defaultSize1={0}
      defaultSize2={9999999}
      />



    <!--
    {allProjects.map((proj) => 
    <GridProj 
    title={proj.data.title} 
    link={`../${proj.data.category}/${proj.slug}`}
    titleimg={proj.data.titleimg.img} 
    titlealt={proj.data.titleimg.alt} 
    cat={proj.data.category} 
    /> )}
    -->

</section>
</Layout>

<style>
  #grid-gallery{
    display: grid;
    grid-template-columns: repeat(var(--gcolnum), 1fr);
    grid-auto-rows: min-content;
    align-items: baseline;
    gap: calc( 0.5 * var(--ggapspx));
  }
  @media only screen and (min-width: 64em /* var(--vwS) */) { 
    #grid-gallery{
      gap: var(--ggapspx);
    }
  }
  /* #grid-gallery img{
    max-width: 80vw;
  } */
</style>

