---
const { link, titleimg, alttext, cat, subcat, ptitle, shorttext} = Astro.props; /* imgs, alttexts, shorttext, longttext, */ 
---


<article> 
  <figure>
    <a href={link}>
      <img src={titleimg} alt={alttext} />
      <figcaption><span>{cat}</span> - {ptitle}</figcaption>
    </a>
    <p class="description">{subcat}{shorttext}</p>
  </figure>
</article>


