---
/* 
TODO
- [ ] figcaption visual bug when text wrap
- [ ] forced to use aspect ratio Picture!? Hochformat Bilder! fix: 
https://github.com/ecomplus/cloud-commerce/commit/3da9bb2831c1f110497993e2f1c7fd1598f6b56b
*/
import { Picture } from '@astrojs/image/components';
// import { getAspectRatio } from '@@sf/ssr/image';
const { titleimg, titlealt, cat, subcat, title, short, link } = Astro.props;
---

<article class="vert">
  <a href={link}> 
  <figure>
      <!-- <img class="" src={titleimg} alt={titlealt} />  -->
      <Picture 
        src={titleimg}
        alt={titlealt}
        position="center"
        widths={[1024, 600, 500, 420, 128]} 
        sizes="(min-width: 2560px) 1024px, (min-width:1920px) 420px, (min-width:1024px) 420px, (min-width:768px) 500px, (min-width: 600px) 600px, (max-width: 420px) 420px, 128px"
        aspectRatio="3:2"
        class=""
        loading="lazy"
        decoding="async"
        /><!-- #rev 128px risky! --> 
      <figcaption><span>{cat}</span> -  {title}</figcaption>
  </figure> 
  </a> 
</article>
<style>
  article {
    aspect-ratio: 1.5 ; /* #rev fallback! */
    grid-column: span 12;
    grid-row: span 1;
    /* background: yellow; */
  }
  @media only screen and (min-width: 37.5em/* var(--vwPl) */) {
    article{
      grid-column: span 6;
    }
  }
  @media only screen and (min-width: 64em/* var(--vwT) */) {
    article{
      grid-column: span 4;
    }
  }
  @media only screen and (min-width: 85.375em/* var(--vwM) */) {
    article{
      grid-column: span 3;
    }
  }
  @media only screen and (min-width: 120em/* var(--vwM) */) {
    article{
      grid-column: span 2;
    }
  }
  @media only screen and (min-width: 160em/* var(--vwM) */) {
    article{
      grid-column: span 1;
    }
  }
  figure, img{
    height: 100%;
    width: 100%;
  }
  article, figure, a, img{
    /* height:100%; */
    /* width: 100%; */
  }
  figure{
    margin: 0; /* #rev irgendwo bekommt figure einen margin? why? ??? */
  }
  img{ /* target img? */
    object-fit: cover; /* maintain aspect ratio */
    z-index:2;
  }
  a figure{
    /* background: red;  */
  }

  figcaption{
    z-index: 1;
    /* opacity: .5; */

    font-family: var(--fsans2);
    /* font-size: .8em; */
    text-transform: uppercase;

    /* color: var(--cgrey); */
    background: var(--cwhite30);
    /* background: orange; */
    backdrop-filter: blur(2px);
    /* border-radius: 8px; */

    transform: translate(0, -34px ); /* #rev */

    line-height: 1em;
    height: 1em ;
    padding: calc(var(--gmodulem) / 4);
    /* margin-right: calc(var(--gmodulem) * 2 ); */
    /* box-sizing: border-box; */
    /* width: 100%; */
    /* margin-top: -50px; */
  }
  figcaption p{}
  figcaption span{
    font-weight: bold;
  }
  .vert{
    /* grid-column: 1 / span 2 !important; */
    /* grid-row: 1 / span 2 !important; */
  }

  @media only screen and (min-width: 64em /* var(--vwS)  */ ){
    article a figure > figcaption{
      display:none;
    }
    article a:hover figure > figcaption{
      display:block;
    }

  }


</style>


