---
const { titleimg, titlealt, cat, subcat, title, short, link } = Astro.props;
---

<article class="vert">
  <figure>
    <a href={link}> 
      <img class="" src={titleimg} alt={titlealt} /> 
      <figcaption><span>{cat}</span> -  {title}</figcaption>
    </a> 
  </figure> 
</article>

<style>
  img{
    /* max-width: 80vw; */
  }
  article {
    aspect-ratio: 1.5 ; /* #rev fallback! */
    grid-column: span 12;
    grid-row: span 1;
    background: yellow;
  }
  @media only screen and (min-width: 37.5em/* var(--vwPl) */) {
    article{
      grid-column: span 6;
    }
  }
  @media only screen and (min-width: 64em/* var(--vwT) */) {
    article{
      grid-column: span 4;
    }
  }
  @media only screen and (min-width: 85.375em/* var(--vwM) */) {
    article{
      grid-column: span 3;
    }
  }
  @media only screen and (min-width: 120em/* var(--vwM) */) {
    article{
      grid-column: span 2;
    }
  }
  @media only screen and (min-width: 160em/* var(--vwM) */) {
    article{
      grid-column: span 1;
    }
  }
  article, figure, a, img{
    height:100%;
    width: 100%;
  }
  figure{
    margin: 0; /* #rev irgendwo bekommt figure einen margin? why? */
  }
  img{ /* target img? */
    object-fit: cover; /* maintain aspect ratio */
  }
  figcaption{
    text-indent: -9999px;
  }
  .vert{
    /* grid-column: 1 / span 2 !important; */
    /* grid-row: 1 / span 2 !important; */
  }

</style>


